<h2>Dashboard</h2>

<h3>My Squads</h3>
<div class="container dashboard-squads">

  <div ng-repeat="squad in User.user.squads" class="div-button" ui-sref="squadsShow({squadId: squad._id})">
    <h4>{{squad.name}}</h4>
  </div>
  <div class="btn btn-default" ng-click="Users.testFunction()">
    TESTER
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 div-button" ui-sref="squadsIndex">
        <p>Join a squad</p>
      </div>
      <div class="col-xs-12 col-sm-6 div-button" ui-sref="squadsNew">
        <p>Create a squad</p>
      </div>
    </div>
  </div>

</div>
<h3>Jobs</h3>

<h3>Messages</h3>
<div class="container">
  Invites
  <div ng-repeat="squad in User.user.squadsInvited" class="div-button">
    <h4>{{squad.name}}</h4>
    <button class="btn btn-default" ui-sref="squadsShow({squadId: squad._id})" type="button" name="button">Find out more about this squad</button>
    <button class="btn btn-default" ng-click="User.acceptInvite(squad._id)">Accept Invitation</button>
  </div>
</div>
