<h2>{{Squads.squad.name}}<span ng-if="Squads.squad.available!==true">- Not available for work</span></h2>

<p>
  {{Squads.squad.description}}
</p>

<p ng-if="Squads.isMember">
  You are a member of this squad.
</p>
<p ng-if="Squads.isApplied">
  You have applied to this squad and are awaiting confirmation.
</p>
<p ng-if="Squads.isInvited">
  You have been invited to this squad.
</p>


<div class="container squadinfo">
  <h3>Info</h3>
  <h4>Leader<span ng-if="Squads.squad.leaders.length > 1">s</span>:</h4>
    <ul ng-repeat="leader in Squads.squad.leaders">
      <li>{{leader.local.fullname}}</li>
    </ul>
  <h4>Squaddies</h4>
    <div class="card card-block squaddie" ng-repeat="member in Squads.squad.members">
      <h5 class="card-title">{{member.local.fullname}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button type="button" class="btn btn-default">Message this person</button>
      <button type="button" class="btn btn-default" name="button" ui-sref="usersShow({ userId: member._id })">More details</button>
    </div>
</div>

<div class="container leaderpanel" ng-if="Squads.isLeader">
  <h3>Leader Panel</h3>
  <div class="container" ng-if="Squads.squad.appliedMembers.length >0">
    <h4>Applicants</h4>
    <div class="card card-block" ng-repeat="applicant in Squads.squad.appliedMembers">
      <h5 class="card-title">{{applicant.local.fullname}}</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
      <button type="button" class="btn btn-default" name="button" ui-sref="usersShow({ userId: applicant._id })">More details about this user</button>
      <button class="btn btn-default" ng-click="Squads.acceptApplication(applicant)">Accept Application</button>
    </div>
  </div>
  <button type="button" class="btn btn-default" name="button" ng-if="Squads.isLeader" ng-click="Squads.toggleAvailability()"><span ng-if="Squads.squad.available!==true">Make this squad available</span><span ng-if="Squads.squad.available===true">Make this squad unavailable</span</button>
</div>


<button class="btn btn-default" ng-click="Squads.testFunction()">
  TESTER
</button>


<button type="button" name="button" class="btn btn-default" ng-if="!Squads.isMember && !Squads.isApplied && !Squads.isInvited" ng-click="Squads.applyToSquad()">Apply to join this squad</button>
<button type="button" name="button" class="btn btn-default" ng-if="!Squads.isMember && Squads.isApplied && !Squads.isInvited" ng-click="Squads.retractApplication()">Retract application</button>


<button class="btn btn-default" ng-show="Squads.isLeader" ng-click="Squads.deleteSquad(Squads.squad._id)">Delete Squad</button>
