@import "_bower";







// Navbar
nav.navbar.shrink {
  min-height: 35px;
}
nav.navbar{
  background-color:#ccc;
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
